<!DOCTYPE html>
<html>
  <head>
    <title>TemplateRubyOnRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body class="app">
    

  <div id="sidebar">
    <div class="header">
      <a href="/"><h2>PETSHOP-S</h2></a>
    </div>

    <ul>
      
        <li>
          <a href="/clients">clients</a>
        </li>
        <li>
          <a href="/pets">pets</a>
        </li>
    
    </ul>

  </div>

  <div id="navbar">

    <% if user_signed_in? %>
      <div class="dropdown">
        <a class="dropbtn"> <%= current_user.email%> </a>
        <div class="dropdown-content">
          <%= link_to "sair", destroy_user_session_path, method: :delete %>
        </div>
      </div>
    <%  else %>
      <%= link_to "entrar", new_user_session_path %>
    <% end %>

  </div>

  <div id="content">
    <div class="card">
      <%= yield %>
    </div>
  </div>

  </body>
</html>
